form {
    display: flex;
    flex-direction: column
}

form input {
    margin: 5px;
}

input[type='text'] {
    width: 80%;
    padding: 6px
}

input[type='date'] {
    width: 81%;
    padding: 4px;
    margin: 5px;
}

.contract-list-th {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: 100%;
    height: 30px;
    align-items: end;
}

.contract-list-th p {
    margin: 0px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #FFF;
    color: #94979A
}

.contract-list-th p span {
    cursor: pointer
}

.contract-list-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px 0 10px
}

.light-bg {
    background-color: #FFF
}

.contract-search-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: inherit;
    padding: 0 0 0 10px
}

.remove-icon {
    color: #D93025;
    font-size: 30px
}

.visualize-icon {
    font-size: 25px
}

.visualize-cards {
    display: grid;
    grid-template-columns: 50% 50%
}

.group-input-search {
    align-items: flex-start;
}