html, body {
  margin: 0px;
  background-color: #EDEDED
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-row {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 80%;
  align-self: center
}

.container h4 {
  margin: 0px;
  color: #3BAADF;
  text-align: center;
  padding: 20px 0 9px 0;
  border-bottom: 1px solid #FFF;
  width: 80%;
  align-self: center;
}

.app-bar {
  width: 100%;
  display: flex;
  padding: 10px 0 10px;
  border-bottom: 2px solid #3BAADF;
  background-color: #FFF
}

.app-bar p {
  color: #FFF;
  margin: 0px
}

.app-bar img {
  width: 100px
}

.sphere-btn {
  background-color: #FFF;
  border-radius: 10px;
  width: 120px;
  height: 65px;
  border: 2px solid #3BAADF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.sphere-btn:hover {
  background-color: #EDEDED;
  cursor: pointer;
}

.sphere-btn p {
  color: #3BAADF;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  margin: 0px 0 2px
}

.subappbar-container {
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  width: 100%
}

.sphere-btn-title {
  width: 80px;
  align-self: center
}

.input-group {
  display: flex;
  flex-direction: column;
  padding: 5px 0 0 0
}

.input-group label {
  font-size: 14px;
  color: #94979A;
  font-weight: bold
}

.input-group select {
  padding: 5px 0 0 0;
  margin: 5px 0 0 0;
  width: 85%;
  height: 30px
}

.fileInput {
  color: #EDEDED
}

.fileInput button {
  cursor: pointer;
}

.message-info-container {
  display: flex;
  justify-content: flex-end;
  height: 50px;
}

.message-info {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(148, 134, 125, 0.2);
  background: rgba(148, 134, 125, 0.2);
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  margin: 5px
}

.message-content {
  flex-direction: column;
  padding: 0 0 0 10px
}

.message-content p {
  margin: 0px;
  color: #606060;
  font-size: 14px
}

.loading-container {
  display: flex;
  justify-content: center;
  padding: 15% 0 0 0
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #3BAADF;
  margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input[type='file'] {
  display: none
}

input[type='email'] {
  width: 80%;
  padding: 6px;
}

input[type='search'] {
  width: 80%;
  padding: 6px;
}

.input-wrapper label {
  background-color: #3498db;
  border-radius: 5px;
  color: #fff;
  margin: 5px 0 5px 4px;
  padding: 6px 20px;
  cursor: pointer;
  width: 76%
}

.input-wrapper label:hover {
  background-color: #2980b9
}

button {
  color: #FFF;
  border: none;
  margin: 0px;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
}

form button {
  width: 50%;
  align-self: center;
  margin: 5px 0 0 0
}

.icon-route-bar {
  height: 40px;
}

.icon-route-bar p {
  margin: 0px;
  padding: 0px 0 0 5px;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 50px;
  z-index: 10;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  max-width: 400px;
  min-height: 100px;
  margin: 10% auto;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.modal p {
  color: #94979A
}

.dialog-btn-container {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0 0 0
}

.confirm-button {
  background-color: #D93025
}

.cancel-button {
  background-color: #3498db;
}

.card-container {
  background-color: #FFF;
  padding: 5px 0 0 0;
  margin: 5px;
  border: 1px solid #DDD
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center
}

.card-content p {
  margin: 0px
}

.card-content h4 {
  color: #7D7D7D;
  border-bottom: 1px solid #DDD;
}

.item-card-content {
  display: flex;
  align-items: center
}

.item-card-content p {
  color: #7D7D7D;
  padding: 0 5px 0 5px;
}

.title-item {
  font-weight: bold
}

input[type='search' i] {
  padding: 7px 0px 7px 0;
  margin: 4px 0 0 0;
}

.message-validation {
  color: #E6AF24;
  font-size: 14px;
  margin: 0px
}